$femme-brand-pink: #E6007E;
$femme-brand-pink-dark: #CC0070;
$cool-brand-blue: #009FE3;
$cool-brand-blue-dark: #008FCC;
$cool-brand-yellow: #DEDC00;
$station-8090-brand-orange: #F9B233;
$station-8090-brand-dark-orange: #DF9007;

$onradio-brand-black1: #000000;
$onradio-brand-black2: #424242;
$onradio-brand-black3: #BDBDBD;
